.subtitle{

    margin-top:-10px;
    margin-bottom:30px;

    text-align:center;

    color:#8d95a5;

    font-size:18px;

}

.watermark{

    margin-top:60px;

    padding:28px;

    text-align:center;

    border-top:1px solid #2d3344;

}

.wm-title{

    font-size:22px;

    font-weight:bold;

    color:white;

    margin-bottom:8px;

}

.wm-sub{

    color:#9a9a9a;

    font-size:14px;

    margin-bottom:6px;

}

.wm-version{

    color:#666;

    font-size:12px;

}